/***************/
/* YOUR STYLES */
/***************/


body {
 background-color: #333232;   
}

h2 {
    font-family: 'Raleway', sans-serif;
}

p {
    color: #E3E3E3;
}

a {
    color: #ED4A97; 
    text-decoration: none;
        
}

ul {
    text-decoration: none;
}

/* Color Palette */
.color-1 {
    background-color: #171717;
    border-style: none;
}
.color-2 {
    background-color: #333232;
    border-style: solid;
}
.color-3 {
    background-color: #E3E3E3;
    border-style: none;
}
.color-4 {
    background-color: #ED4A97;
    border-style: none;
}
.color-5 {
    background-color: #E62A1F;
    border-style: none;    
}


/* Textures or Patterns*/
.pattern-1 {
    background: linear-gradient(to bottom, #ed4a97 0%,#e62a1f 100%);
}
    
.pattern-2 {
    background: linear-gradient(to top, #ed4a97 0%,#e62a1f 100%);
}
    

/* Imagery */
.imagery-4 {
    height: 350px;
    width: 300px;
}


/* Icons */




/* Typography */


/* Forms */


/* Tables */


/* Cards */