/***************/
/* YOUR STYLES */
/***************/


body {
 background-color: #333232;   
}

h2 {
    font-family: 'Raleway', sans-serif;
}

p {
    color: #E3E3E3;
}

a {
    color: #ED4A97; 
    text-decoration: none;
        
}

ul {
    list-style-type: none;
}

/* Color Palette */
.color-1 {
    background-color: #171717;
    border-style: none;
}
.color-2 {
    background-color: #333232;
    border-style: solid;
}
.color-3 {
    background-color: #E3E3E3;
    border-style: none;
}
.color-4 {
    background-color: #ED4A97;
    border-style: none;
}
.color-5 {
    background-color: #E62A1F;
    border-style: none;    
}


/* Textures or Patterns*/
.pattern-1 {
    background: linear-gradient(to bottom, #ed4a97 0%,#e62a1f 100%);
}
    
.pattern-2 {
    background: linear-gradient(to top, #ed4a97 0%,#e62a1f 100%);
}

.pattern-3 {
    background-image: url("../img/pattern.png");
}

/* Imagery */
.imagery-4 {
    height: 350px;
    width: 300px;
}


/* Icons */


/* Nav */

nav {
    font-family: Raleway; 
    
}

nav ul {
    color: #ed4a97;
}

    
nav ul:nth-child(2) {
    color: 
}


/* Typography */
.grid-container {
    font-family: Lora; 
    
}

button {
    background: linear-gradient(to bottom, #ed4a97 0%,#e62a1f 100%);
    border-style: none;
    width: 120px;
    height: 40px;
    font-family: Raleway;
    color: #e3e3e3;
    transition: background-color .5s ease-in;
}
button:hover {
    background: #E62A1F;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

p {
    color: #E3E3E3;
}

a {
    color: #ED4A97; 
    text-decoration: none;
        
}


.first-type h3 {
    color: #ed4a97;
}


/* Forms */


/* Tables */


table, td, tr {
    border: 1px solid #e3e3e3;
}
    tr:nth-child(1) {
  color: #e62a1f;
        font-family: Raleway;
          }
    
/* Cards */